@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:focus, input:focus, button:focus {
  outline: none; }

@font-face {
  font-family: 'Nexa-Light';
  src: url("./assets/fonts/25B52E_E_0.eot");
  src: url("./assets/fonts/25B52E_E_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_E_0.woff") format("woff"), url("./assets/fonts/25B52E_E_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Nexa-Regular';
  src: url("./assets/fonts/25B52E_C_0.eot");
  src: url("./assets/fonts/25B52E_C_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_C_0.woff") format("woff"), url("./assets/fonts/25B52E_C_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Nexa-Bold';
  src: url("./assets/fonts/25B52E_B_0.eot");
  src: url("./assets/fonts/25B52E_B_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_B_0.woff") format("woff"), url("./assets/fonts/25B52E_B_0.ttf") format("truetype"); }

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Nexa-Light' !important;
  font-size: 16px;
  color: #9d9a9b; }

h1, h2, h3, h4, h5, h6, input {
  font-family: Nexa-Light;
  color: #9d9a9b; }

h1 {
  font-size: 2rem; }

.big-text {
  font-size: 1.4rem; }

.super-big-text {
  font-size: 1.8rem; }

.small-text {
  font-size: 0.8rem; }

.super-small-text {
  font-size: 0.6rem; }

.scroll-area .scroll-area-column .card .card-content, .selected-products-drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }

input {
  font-size: 1rem; }

@font-face {
  font-family: 'icons';
  src: url("../assets/icon-fonts/tlc-icons.eot");
  src: url("../assets/icon-fonts/tlc-icons.eot") format("embedded-opentype"), url("../assets/icon-fonts/tlc-icons.woff") format("woff"), url("../assets/icon-fonts/tlc-icons.ttf") format("truetype"), url("../assets/icon-fonts/tlc-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

.icon-checkmark:before {
  content: "\e900"; }

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.app-view {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  max-height: 768px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 1px green;
  background-color: #9d9a9b;
  overflow: hidden; }
  .app-view .active-card-frame {
    width: 100%;
    height: 120px;
    background-color: #eaeaea;
    position: absolute;
    top: 240px;
    left: 0px;
    opacity: 0.25; }

.app-view-column {
  box-sizing: border-box;
  position: relative; }

.scroll-area {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .scroll-area .scroll-area-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .scroll-area .scroll-area-column .card {
      display: block;
      position: relative;
      flex-basis: 100%;
      box-sizing: border-box;
      height: 120px;
      max-height: 120px;
      min-width: 200px;
      max-width: 350px;
      padding: 1rem;
      font-size: 1.4rem; }
      .scroll-area .scroll-area-column .card .card-content {
        background-color: #fff;
        color: #5bcaee;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: calc(1 / 2 * 1rem);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        .scroll-area .scroll-area-column .card .card-content div {
          display: block;
          width: 100%;
          text-align: center; }
        .scroll-area .scroll-area-column .card .card-content.active-product {
          background-color: #5bcaee;
          color: #fff; }
        .scroll-area .scroll-area-column .card .card-content.selected-option {
          border: solid 3px #5bcaee; }
          .scroll-area .scroll-area-column .card .card-content.selected-option:after {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2rem;
            font-family: 'icons';
            content: '\e900'; }
    .scroll-area .scroll-area-column:nth-child(2) .card .card-content {
      position: relative;
      color: #ee885a; }
      .scroll-area .scroll-area-column:nth-child(2) .card .card-content.active-product {
        background-color: #ee885a !important;
        color: #fff; }
      .scroll-area .scroll-area-column:nth-child(2) .card .card-content.selected-option {
        border: solid 3px #ee885a; }
        .scroll-area .scroll-area-column:nth-child(2) .card .card-content.selected-option:after {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2rem;
          font-family: 'icons';
          content: '\e900'; }

.info-area {
  width: 25%;
  height: 100%;
  background-color: #fff;
  position: relative; }
  .info-area .my-plan {
    position: absolute;
    top: 25rem; }
    .info-area .my-plan .text {
      padding: 0 0 1rem 1rem; }
    .info-area .my-plan .super-big-text {
      color: #5bcaee; }
    .info-area .my-plan input {
      width: 2.5rem;
      height: 2.5rem;
      border: solid 1px #5bcaee;
      border-radius: 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem; }

.add-product {
  width: 80px;
  height: 80px;
  background-color: #5bcaee;
  border-radius: 50%;
  position: absolute;
  top: 16.2rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  flex-start: center; }
  .add-product:after {
    content: '+';
    font-family: Nexa-Light;
    font-size: 5rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1.65rem; }

.hide-drawer {
  width: 200px;
  height: 200px;
  background-color: #5bcaee;
  border-radius: 50%;
  position: absolute;
  transform: translateX(50%);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hide-drawer:after, .hide-drawer:before {
    font-family: Nexa-Light;
    font-size: 1.4rem;
    position: absolute;
    color: #fff; }
  .hide-drawer:after {
    content: 'Hide Plan';
    flex: 1;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    top: 4rem; }
  .hide-drawer:before {
    content: 'Show Plan';
    width: 4rem;
    height: 4rem;
    text-align: right;
    top: 2rem;
    left: 1.5rem;
    opacity: 1;
    transition: all 0.5s; }

.hide-drawer-wrapper {
  width: 12rem;
  height: 6rem;
  overflow: hidden;
  position: absolute;
  top: -6rem;
  right: 0;
  transform: translateX(0%);
  transition: all 0.5s; }

.selected-products-drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 99;
  visibility: hidden;
  transition: all 0.5s; }
  .selected-products-drawer-overlay.visible {
    visibility: visible;
    transition: all 0.5s; }

.selected-products-drawer {
  width: 100%;
  height: 33%;
  position: absolute;
  bottom: -35%;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  padding: 2rem;
  transition: all 0.5s;
  z-index: 100; }
  .selected-products-drawer.visible {
    bottom: 0;
    transition: all 0.5s; }
    .selected-products-drawer.visible .hide-drawer {
      width: 12rem;
      height: 12rem;
      background-color: #5bcaee;
      border-radius: 50%;
      position: absolute;
      transform: translateX(0);
      transition: all 0.5s; }
      .selected-products-drawer.visible .hide-drawer:after {
        opacity: 1;
        transition: all 0.5s; }
      .selected-products-drawer.visible .hide-drawer:before {
        opacity: 0;
        transition: all 0.5s; }
    .selected-products-drawer.visible .hide-drawer-wrapper {
      transform: translateX(-15%);
      transition: all 0.5s; }
  .selected-products-drawer .selected-products-wrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    overflow-x: scroll; }
  .selected-products-drawer .selected-products-card {
    min-height: 100%;
    flex: 1;
    min-width: 12rem;
    max-width: 12rem;
    border-radius: 0.25rem;
    background-color: #eaeaea;
    padding: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;
    position: relative; }
  .selected-products-drawer .close-products-card {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-color: #5bcaee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .selected-products-drawer .close-products-card:after {
      content: '✕';
      font-size: 1.2rem;
      position: absolute;
      top: 0.45rem;
      color: #fff;
      font-weight: 700; }
  .selected-products-drawer .selected-products-card-content div {
    margin-bottom: 0.5rem; }
  .selected-products-drawer .selected-products-card-content .selected-products-title {
    color: #5bcaee; }
