@import 'variables';

// Fonts and text styles
@font-face {
  font-family: 'Nexa-Light';
  src: url("./assets/fonts/25B52E_E_0.eot");
  src: url("./assets/fonts/25B52E_E_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_E_0.woff") format("woff"), url("./assets/fonts/25B52E_E_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Nexa-Regular';
  src: url("./assets/fonts/25B52E_C_0.eot");
  src: url("./assets/fonts/25B52E_C_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_C_0.woff") format("woff"), url("./assets/fonts/25B52E_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Nexa-Bold';
  src: url("./assets/fonts/25B52E_B_0.eot");
  src: url("./assets/fonts/25B52E_B_0.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/25B52E_B_0.woff") format("woff"), url("./assets/fonts/25B52E_B_0.ttf") format("truetype");
}

// Basic html element styles
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Nexa-Light' !important;
  font-size: 16px;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6, input {
  font-family: Nexa-Light;
  color: $darkGray;
}

h1 {
  font-size: 2rem;
}

.big-text {
  font-size: $big-text;
}

.super-big-text {
  font-size: $super-big-text;
}

.small-text {
  font-size: $small-text;
}

.super-small-text {
  font-size: $super-small-text;
}

.text-center {
  text-align: center;
}

// Extended classes
%box-shadow {
  //box-shadow: 0 0 0px $transparency-color;
  box-shadow: 0 0 0px rgba(0 ,0, 0, 0);
}

input {
  font-size: $text;
}

// Simple flex classes

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.justify-content-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.align-items-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.max-width-50 {
  box-sizing: border-box;
  max-width: 50%;
  min-width: 50%;
}


// Padding and border classes
.padding-left {
  padding-left: $padding;
}

.padding-right {
  padding-right: $padding;
}

.padding-top {
  padding-top: $padding;
}

.padding-bottom {
  padding-bottom: $padding;
}

.margin-left {
  margin-left: $padding;
}

.margin-right {
  margin-right: $padding;
}

.margin-top {
  margin-top: $padding;
}

.margin-bottom {
  margin-bottom: $padding;
}

.border-left {
  border-left: solid 1px $darkGray;
}

.border-right {
  border-right: solid 1px $darkGray;
}

