@import 'reset';
@import 'globals';
@import 'variables';
@import 'iconFonts.scss';

body {
  background-image: url('../assets/images/road-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  overflow: hidden;
}

.app-view {
  position: relative;
  width: 100%;
  height: 100vh;
  //max-width: 1024px;
  //max-height: 768px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  //border: solid 1px green;
  background-color: none;
  overflow: hidden;

  .active-card-frame {
    width: 100%;
    height: 120px;
    background-color: $lightGray;
    position: absolute;
    top: 240px;
    left: 0px;
    opacity: 0.25;
  }

  .back-to-search {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $main-color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    @extend %box-shadow;

    &:after {
      content: '<';
      position: absolute;
      font-size: 2rem;
      color: $white;
    }
  }
}

.app-view-column {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all $animation-duration;

  &.products-view {

    .scroll-area {

      .scroll-area-column {

        .card {
          width: 50%;
        }
      }
    }
  }
}

.scroll-area {
  height: 100%;
  display: flex;
  flex-direction: row;

  .card-count {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 8rem;
    top: -4rem;
    background-color: $transparency-color-white;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $white;
    font-size: $text;

    div {
      top: -1.4rem;
      position: relative;
      text-align: center;
    }
  }

  .scroll-area-column {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $transparency-color-dark;

    .card {
      display: block;
      position: relative;
      flex-basis: 100%;
      box-sizing: border-box;
      height: 120px;
      min-width: 200px;
      padding: $padding;
      font-size: $big-text;

      .card-content {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $white;
        color: $black;
        overflow: hidden;

        div {
          display: block;
          width: 100%;
          text-align: center;
        }

        &.active-product {
          background-color: $main-color-orange;
          color: $white;
        }

        &.selected-option {

          &:after {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2rem;
            font-family: 'icons';
            content: '\e900';
          }
        }

        .card-content-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $transparency-color-dark;
        }
      }
    }

    &:nth-child(3){

      .card {

        .card-content {
          position: relative;
          color: $main-color-orange;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: transparent;
          overflow: hidden;

          .card-title {
            box-sizing: border-box;
            font-size: $text;
            padding: .5em 1em;
            background-color: $main-color-blue;
            border-radius: $border-radius $border-radius 0 0;
            width: 70%;
            @extend %box-shadow;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            max-height: 33%;
            color: $white;
            text-align: start;
          }

          .card-body {
            box-sizing: border-box;
            flex: 2;
            background-color: $white;
            color: $darkGray;
            @extend %box-shadow;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1em 3.8em 1em 1.5em;
            line-height: 1.6rem;
            font-size: $small-text;
            z-index: 99;
          }

          .card-status-wrapper {
            width: 30%;
            height: 3rem;
            position: absolute;
            right: 0;
            min-width: fit-content;
            box-sizing: border-box;
            padding: 0.5rem;

            .card-status {
              width: 100%;
              height: 100%;
              font-family: Nexa-Book;
              font-size: $small-text;
              text-align: center;
              padding: 0.6em .5em 0.4em;
              border-radius: 0.5em 0.5em 0 0.5em;
              background-color: rgba(0, 0, 0, 0.9);
              box-sizing: border-box;
              color: $white;
              transition: all $animation-duration cubic-bezier(0.68, -0.35, 0.105, 1.55);
              transform: translateY(0);
              right: 0;


              &:after {
                content: '';
                overflow: hidden;
                position: absolute;
                bottom: -0.5rem;
                right: 0;
                border-left: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
                border-top: 0.5rem solid rgba(0, 0, 0, 0.75);
              }
            }
          }

          .card-content-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $transparency-color-dark;
            z-index: 100;
          }

          &.selected-option {
            .card-status {
              transition: all $animation-duration cubic-bezier(0.68, -0.35, 0.105, 1.55);
              transform: translateY(3rem);
            }
          }

          &.active-product {
            color: $white;

            .card-title {
              background-color: $main-color-orange;
            }
          }

          &.selected-option {
            //border: solid 3px $main-color-blue!important;

            &:after {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 2rem;
              font-family: 'icons';
              content: '\e900';
              color: $white;
              left: 64%;
            }
          }
        }
      }
    }

    // Column-specific styling
    .cost-wrapper {
      .card-content {

      }
    }
  }
}

.app-view-column {

  &.input-view {

    .scroll-area-column {

      .card {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        opacity: 0;
        transition: all $animation-duration;

        &:nth-last-child(1){

          .card-content {
            padding: 0;
          }
        }

        .card-content {
          width: 50%;
          max-width: 50%;
          padding: 0.5rem;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            display: block;
            padding: 1rem;
            font-family: "Nexa Light";
            font-size: $super-big-text;
          }

          button {
            width: 100%;
            height: 100%;
            background-color: $main-color-orange;
            font-family: "Nexa Light";
            font-size: $super-big-text;
            color: $white;
            -webkit-appearance: none;
          }
        }

        .input-label {
          position: absolute;
          top: 20px;
          left: 20px;
          text-align: left;
          font-size: $super-big-text;
          transition: all $animation-duration;
        }

        &.is-current {
          opacity: 1;
          transition: all $animation-duration;

          .input-label {
            top: -30px;
            left: 10px;
            font-size: $big-text;
            transition: all $animation-duration;
          }
        }
      }
    }
  }

  .input-button {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $main-color-blue;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: '<';
        position: absolute;
        transform: rotateZ(90deg);
        font-size: 2rem;
        color: $white;
      }
    }

    &.forward {

      .button {

        &:after {
          transform: rotateZ(270deg);
        }
      }
    }
  }

  .inputs-wrapper {
    transition: all $animation-duration;
    top: 0;
  }
}

.info-area {
  width: 25%;
  height: 100%;
  background-color: $white;
  position: relative;

  .my-plan {
    position: absolute;
    top: 23rem;
    width: 100%;

    .text {
      padding: 1rem;
    }

    .super-big-text,
    .big-text,
    .small-text {
      color: $main-color-blue;
    }

    input {
      width: 2.5rem;
      height: 2.5rem;
      border: solid 1px $main-color-blue;
      border-radius: 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin: 0 auto;
    }
  }
}

.display-data-type {
  position: absolute;
  top: 1rem;
  right: 1rem;

  .data-type-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 15rem;
    border-radius: $border-radius;
    overflow: hidden;

    .data-type-button {
      height: 2rem;
      background-color: $lightGray;
      padding: 0.5rem;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.1);
      border-right: solid 1px $darkGray;
      font-weight: inherit;
      cursor: pointer;

      &:nth-last-child(1){
        border-right: none;
      }

      &.active-type-button {
        background-color: $main-color-blue;
        color: $white;
        font-weight: 800;
      }
    }
  }
}

.add-product {
  width: 4rem;
  height: 4rem;
  background-color: $main-color-blue;
  border-radius: 50%;
  position: absolute;
  top: 16.2rem;
  left: $padding;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '+';
    font-family: Nexa-Light;
    font-size: 5rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1.1rem;
  }
}

.hide-drawer {
  width: 200px;
  height: 200px;
  background-color: $main-color-blue;
  border-radius: 50%;
  position: absolute;
  transform: translateX(50%);
  transition: all $animation-duration;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:after,
  &:before {
    font-family: Nexa-Light;
    font-size: $big-text;
    position: absolute;
    color: $white;
  }

  &:after {
    content: 'Hide Plan';
    flex: 1;
    text-align: center;
    opacity: 0;
    transition: all $animation-duration;
    top: 4rem;
  }

  &:before{
    content: 'Show Plan';
    width: 4rem;
    height: 4rem;
    text-align: right;
    top: 2rem;
    left: 1.5rem;
    opacity: 1;
    transition: all $animation-duration;
  }
}

.hide-drawer-wrapper {
  width: 12rem;
  height: 6rem;
  overflow: hidden;
  position: absolute;
  top: -6rem;
  right: 0;
  transform: translateX(0%);
  transition: all $animation-duration;
}

.selected-products-drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $transparency-color;
  z-index: 99;
  visibility: hidden;
  transition: all $animation-duration;

  &.visible {
    visibility: visible;
    transition: all $animation-duration;
  }
}

.selected-products-drawer {
  width: 100%;
  height: 33%;
  position: absolute;
  bottom: -35%;
  left: 0;
  background-color: $white;
  @extend %box-shadow;
  box-sizing: border-box;
  padding: $padding * 2;
  transition: all $animation-duration;
  z-index: 100;

  &.visible {
    bottom: 0;
    transition: all $animation-duration;

    .hide-drawer {
      width: 12rem;
      height: 12rem;
      background-color: $main-color-blue;
      border-radius: 50%;
      position: absolute;
      transform: translateX(0);
      transition: all $animation-duration;

      &:after {
        opacity: 1;
        transition: all $animation-duration;
      }

      &:before{
        opacity: 0;
        transition: all $animation-duration;
      }
    }

    .hide-drawer-wrapper {
      transform: translateX(-15%);
      transition: all $animation-duration;
    }
  }

  .selected-products-wrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    overflow-x: scroll;
  }

  .selected-products-card {
    min-height: 100%;
    flex: 1;
    min-width: 12rem;
    max-width: 12rem;
    border-radius: $border-radius;
    background-color: $lightGray;
    padding: $padding;
    box-sizing: border-box;
    margin-right: $padding;
    position: relative;
  }

  .close-products-card {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-color: $main-color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:after {
      content:	'✕';
      font-size: 1.2rem;
      position: absolute;
      top: 0.45rem;
      color: $white;
      font-weight: 700;
    }
  }

  .selected-products-card-content {

    div {
      margin-bottom: 0.5rem;
    }

    .selected-products-title {
      color: $main-color-blue;

    }
  }
}

/* Main modal, spinner and error message */

.main-overlay {
  width: 100vw;
  height: 100vh;
  background-color: $transparency-color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all $animation-duration;

  &.visible {
    visibility: visible;
    transition: all $animation-duration;
  }

  .loader {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  /* DOUBLE SPINNER */
  .double-spinner {
    position: relative;
  }

  .dbl-spinner {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid transparent;
    border-top: 4px solid $main-color-blue;
    border-left: 4px solid $main-color-blue;
    -webkit-animation: 2s spin linear infinite;
    animation: 2s spin linear infinite;
  }

  .dbl-spinner--2 {
    border: 4px solid transparent;
    border-right: 4px solid $main-color-orange;
    border-bottom: 4px solid $main-color-orange;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
  }

  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .message {

    display: block;
    min-width: 20rem;
    max-width: 50%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    color: $white;
    font-size: $big-text;
    text-align: center;
  }
}

