// Colors Vars
$main-color-orange: #ee885a;
$main-color-blue: #5bcaee;
$lightGray: #eaeaea;
$darkGray: #7f7f7f;
$white: #fff;

// Layout Vars
$padding: 1rem;

// Create our border-radius
$border-radius: 0.25rem;